body, html {
  user-select: none;
}

.swiper {
  width: 100%;
  max-width: 1800px;
  height: 70vh;
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  object-fit: cover;
  border-radius: 5px;
}
